SELECT Accel, RTRIM(Accel, '  sec') 
FROM evCars

UPDATE evCars 
SET Accel = RTRIM(Accel, ' sec')

I then verify the update with the following query to ensure it updated. I could have also just looked into the browse data tab.

SELECT Accel
FROM evCars

ALTER TABLE evCars
RENAME Accel TO AccelSec

The following are simply to ensure my syntax is correct for the updates.
SELECT TopSpeed, RTRIM(TopSpeed, ' km/h')
FROM evCars

SELECT Range, RTRIM(Range, ' km')
FROM evCars

SELECT efficiency, RTRIM(efficiency, ' Wh/km')
FROM evCars

SELECT FastCharge, RTRIM(FastCharge, ' km/h')
FROM evCars

I then ran these back to back, checking the Browse Data tab after each to verify
UPDATE evCars 
SET TopSpeed = RTRIM(TopSpeed, ' km/h')

UPDATE evCars 
SET Range = RTRIM(Range, ' km')

UPDATE evCars 
SET efficiency = RTRIM(efficiency, ' Wh/km')

UPDATE evCars 
SET FastCharge = RTRIM(FastCharge, ' km/h')

I probably could have ran those all together, but I wanted to make sure that it didn't force a weird update.

UPDATE evCars
SET TopSpeed = TopSpeed * 0.621371

ALTER TABLE evCars
RENAME TopSpeed to topSpeedMPH

Converted to MPH and then changed the name to reflect the conversion, as well as turning the name into camelCase

SELECT *
FROM evCars

At this point, I realized that I forgot to round the data to the first decimal place, so I ran

UPDATE evCars
SET topSpeedMPH = ROUND(topSpeedMPH, 1)

I then ran the next ones, rounding them in the initial step, then changed the column name, verifying in the Browse Data tab.

UPDATE evCars
SET Range = ROUND(Range * 0.621371, 1)

UPDATE evCars
SET FastCharge = ROUND(FastCharge * 0.621371, 1)

I then tried to rename all of these together using the following.

ALTER TABLE evCars
RENAME Range to rangeMPH
RENAME Efficiency to efficiencyWHperKM
RENAME FastCharge to oneHourFastChargeMiles

This failed, and I'm not sure why, so I did them indivudually. 

ALTER TABLE evCars
RENAME Range to rangeMPH

ALTER TABLE evCars
RENAME Efficiency to efficiencyWHperKM

ALTER TABLE evCars
RENAME FastCharge to oneHourFastChargeMiles

I then double checked my work

SELECT *
FROM evCars

SECTION 5

SELECT RapidCharge, COUNT(PowerCharge)
FROM evCars
GROUP BY RapidCharge

UPDATE evCars
SET RapidCharge = REPLACE(RapidCharge, 'Rapid charging not possible', 'False')

UPDATE evCars
SET RapidCharge = REPLACE(RapidCharge, 'Rapid charging possible', 'True')

The cirriculum then asks me to copy this into the file, so I am doing so rather than putting it in my own words as I have done with the previous statement. 

For the purpose of this exercise, if the car's `RapidCharge` value equals 'Rapid charging possible' then I want you to change the value to 'True' 
If the `RapidCharge` value equals 'Rapid charging not possible' then I want you to change the value to 'False'.

Section 6

SELECT PowerTrain, COUNT(PowerTrain)
FROM evCars
GROUP BY PowerTrain

UPDATE evCars
SET PowerTrain = REPLACE(PowerTrain, 'All Wheel Drive', 'AWD')

UPDATE evCars
SET PowerTrain = REPLACE(PowerTrain, 'Front Wheel Drive', 'FWD')

UPDATE evCars
SET PowerTrain = REPLACE(PowerTrain, 'Rear Wheel Drive', 'RWD')

Again, doing some copy and pasting.
- look at the three DISTINCT values from the query you wrote in 6.1 and fill in the blanks.
- If the PowerTrain equals All Wheel Drive then I want you to change the value to 'AWD'
- If the PowerTrain equals Front Wheel Drive then I want you to change the value to 'RWD'
- If the PowerTrain equals Rear Wheel Drive then I want you to change the value to 'FWD'

SELECT PowerTrain
FROM evCars
GROUP BY PowerTrain

SECTION 7

SELECT PriceEuro, ROUND(PriceEuro * 1.09, 2) as priceUSD
FROM evCars

UPDATE evCars
SET PriceEuro = ROUND(PriceEuro * 1.09, 2)

ALTER TABLE evCars
RENAME PriceEuro to priceUSD